name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Run typecheck
        run: bun run typecheck
  ci-success:
    runs-on: ubuntu-latest
    needs: typecheck
    steps:
      - run: echo Done!
